services: # defines all containers to run
  backend: #FastApi backend
    build: ./backend #builds docker image
    ports:
      - "8000:8000" # Map port 8000 on host computer to port 8000 in the container
    volumes:
      - ./backend:/app #Mount your backend code into the container
      - /Users/emmanuelserrano/Desktop/FLOW_Sample:/data  # Mount host data dir to /data in container
    depends_on:
      - qdrant #waits for qdrant service
      - ollama #waits for ollama service
  
  qdrant: # This is vector database service
    image: qdrant/qdrant #get image from dockerhub
    ports:
      - "6333:6333" #Exposes Qdrants API
    volumes:
      - qdrant_storage:/qdrant/storage  #persists qdrant data
   

  ollama:
    image: ollama/ollama:latest #use ollama image
    ports:
      - "11434:11434" #exposes ollamas api
    volumes:
      - ollama_data:/root/.ollama 

volumes:
  qdrant_storage:
  ollama_data:
